*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Inizio Calcolatrice*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
/*Inizio Sezione Logo*/

#calcolatrice {
    width: 300px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(200, 200, 200,1), rgba(250, 250, 250, 1));
}


.logo{
    
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-family: 'Michroma', sans-serif;
    line-height: 3;
}
/*Fine Sezione Logo*/

/*Inizio sezione Risultati*/

.risultati{
    background-color: black;
    color: rgb(33, 193, 31);
    padding-right: 20px;
    text-align: right;
    line-height: 2;
    font-family: 'Seven segment', sans-serif;
    font-size: 40px;
}
/*Fine sezione Risultati*/

/*Inizio sezione Pulsanti*/

.pulsanti{
    display: flex;
    padding: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.numbers {
    flex: 4;
}

.operators{
    flex: 1;
}

button{
    padding: 6px 10px;
    font-size: 20px;
    font-family: 'Michroma';
    border-radius: 10px;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
    
}

.numbers button{
    flex-basis: calc(100% / 3 - 10px);

}

.numbers button.largo{
    flex-basis: calc(100% / 3*2 - 10px);
}

.arancione{
    background-color: orange;
}
/*Fine sezione Pulsanti*/
/*Fine Calcolatrice*/